<div class="difficulty-selector">

  <button
    (click)="alterarDificuldade('facil')">
    Fácil
  </button>

  <button
    (click)="alterarDificuldade('medio')">
    Médio
  </button>

  <button
    (click)="alterarDificuldade('dificil')">
    Difícil
  </button>

  <button
    (click)="alterarDificuldade('hardcore')">
    Hardcore
  </button>

</div>

<div class="game-header">

  <span>
    Movimentos: {{ movimentos }}
  </span>

  <button
    type="button"
    (click)="reiniciar()">

    Reiniciar

  </button>

</div>

@if (jogoFinalizado) {

  <div style="text-align:center; margin-bottom:16px; color:#22c55e; font-weight:bold;">
    🏆 Jogo concluído!
  </div>

}

<div class="board">

  @for (torre of torres; track $index) {

    <div
      class="tower"
      [class.selected]="torreSelecionada === $index"
      [style.pointer-events]="jogoFinalizado ? 'none' : 'auto'"
      (click)="selecionarTorre($index)">

      <div class="pole"></div>

      @for (disco of torre.listar(); track disco) {

        <div
          class="disk"
          [style.width.px]="30 + (disco * 18)">
        </div>

      }

    </div>

  }

</div>