.avatar,
.avatar-imagem {

  width: 40px;
  height: 40px;

  border-radius: 50%;

}

.avatar {

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  color: white;

  background: linear-gradient(
    135deg,
    #4f8cff,
    #8b5cf6
  );

}

.avatar-imagem {

  object-fit: cover;

  display: block;

}

