<main class="inicio-container">

  <section class="hero">
    <div class="hero-badge">
      <i class="bi bi-stars icon-sparkle"></i> Fila justa, ingressos garantidos
    </div>

    <h1 class="hero-title">
      Os melhores shows <br><span class="highlight">sem stress</span>
    </h1>

    <p class="hero-subtitle">
      Entre na fila preferencial ou normal e acompanhe sua posição em tempo real.
    </p>
  </section>

  <!-- Barra de Busca -->
  <div class="search-container mb-5">
    <div class="search-box">
      <i class="bi bi-search"></i>
      <input type="text" [(ngModel)]="termoBusca" placeholder="Buscar evento por nome ou artista..."
        class="search-input">
    </div>

    <app-filtros (aoFiltrar)="aplicarFiltros($event)"></app-filtros>

    <!-- Estado Vazio -->
    <app-estado-vazio *ngIf="!carregando() && !temResultados()" titulo="Nenhum evento encontrado"
      mensagem="Tente buscar por outro nome ou artista."></app-estado-vazio>

    <br>

  </div>

  <section class="shows-grid" *ngIf="!carregando()">

    <app-card-show *ngFor="let show of showsFiltrados()" [show]="show">
    </app-card-show>

  </section>

</main>