* {
  box-sizing: border-box;
}

.navbar {
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;

  background: #050816;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 70px;
  width: auto;
  object-fit: contain;
  display: block;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-item {
  padding: 12px 20px;

  border-radius: 999px;

  color: #a1a1aa;
  text-decoration: none;

  transition: 0.2s;
}

.nav-item:hover {
  color: white;
}

.nav-item.active {
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

.user-area {
  position: relative;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.arrow {
  color: white;
  font-size: 12px;
}

.dropdown {
  position: absolute;

  top: 55px;
  right: 0;

  min-width: 160px;

  padding: 8px;

  border-radius: 12px;

  background: #111827;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  z-index: 1000;
}

.dropdown-item {
  display: block;

  width: 100%;

  padding: 10px 12px;

  border: none;
  border-radius: 8px;

  background: transparent;

  color: white;
  text-decoration: none;

  text-align: left;

  cursor: pointer;

  transition: 0.2s;
}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.08);
}

.logout-button:hover {
  background: rgba(255, 0, 0, 0.719);
  color: white;
}