* {
  box-sizing: border-box;
}

.navbar {
<<<<<<< HEAD
  height: 80px;
=======
  height: 70px;
  background: #050816;
>>>>>>> main

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;

<<<<<<< HEAD
  background: #050816;
=======
>>>>>>> main
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  gap: 12px;
}

.logo-icon {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    135deg,
    #4f8cff,
    #8b5cf6
  );

  color: white;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}
=======
  gap: 10px;
}


>>>>>>> main

.highlight {
  color: #4f8cff;
}

.nav-links {
  display: flex;
<<<<<<< HEAD
  gap: 16px;
}

.nav-item {
  text-decoration: none;

  color: #a1a1aa;

  padding: 12px 20px;

  border-radius: 999px;

=======
  gap: 10px;
}

.nav-item {
  padding: 15px 15px;

  border-radius: 999px;

  color: #a1a1aa;
  text-decoration: none;

  cursor: pointer;

>>>>>>> main
  transition: 0.2s;
}

.nav-item:hover {
  color: white;
}

.nav-item.active {
  background: rgba(255,255,255,0.08);
  color: white;
}

.user-area {
  position: relative;

  display: flex;
  align-items: center;
  gap: 10px;

<<<<<<< HEAD
  padding: 8px 12px;

  border-radius: 999px;

  cursor: pointer;

  background: rgba(255,255,255,0.04);
=======
  padding: 6px 10px;

  border-radius: 999px;

  background: rgba(255,255,255,0.04);

  cursor: pointer;
>>>>>>> main
}

.avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    135deg,
    #4f8cff,
    #8b5cf6
  );

  color: white;
<<<<<<< HEAD
  font-weight: 700;
}

.arrow {
  color: #d4d4d8;
=======
  font-weight: bold;
}

.arrow {
  color: white;
>>>>>>> main
  font-size: 12px;
}

.dropdown {
  position: absolute;

  top: 60px;
  right: 0;

<<<<<<< HEAD
  min-width: 160px;
=======
  min-width: 150px;
>>>>>>> main

  background: #111827;

  border-radius: 12px;

  padding: 8px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

.dropdown button {
  background: transparent;
  border: none;

  color: white;

  text-align: left;

  padding: 10px;

  cursor: pointer;
}

.dropdown button:hover {
  background: rgba(255,255,255,0.08);
  border-radius: 8px;
<<<<<<< HEAD
=======
}

.logo-image {
  height: 70px;
  width: auto;
>>>>>>> main
}