<div class="container bg-ingr my-5">
  <div class="row">
    <div class="col-12">
      <button class="btn text-white mb-3" (click)="voltarParaTodos()">
        <i class="bi bi-arrow-left-short"></i> Todos os fãs clubs
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-banner [isMembro]="isUsuarioFa()" [idFaClube]="idFaClube"></app-banner>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-between">
      <h4>Feed</h4> <button (click)="possivelNovoPost()" *ngIf="!isEditandoNovoPost"
        class="btn btn-primary rounded-pill"><i class="bi bi-plus"></i>
        Novo Post</button>
    </div>
  </div>
  <div class="row bg-ingr justify-content-center" *ngIf="isEditandoNovoPost">
    <div class="col-12">

      <div class="card bg-ingr shadow-lg rounded-4">

        <!-- Toolbar -->
        <div class="card-header bg-dark border-secondary d-flex gap-2 flex-wrap rounded-top-3">

          <button type="button" class="btn btn-sm btn-outline-light" (click)="adicionarFormatacao('*')">
            B
          </button>

          <button type="button" class="btn btn-sm btn-outline-light" (click)="adicionarFormatacao('_')">
            I
          </button>

          <button type="button" class="btn btn-sm btn-outline-light" (click)="adicionarFormatacao('~~')">
            U
          </button>

          <button type="button" class="btn btn-sm btn-outline-light" (click)="adicionarFormatacao('- ')">
            • Lista
          </button>

        </div>

        <!-- Editor -->
        <div class="card-body bg-ingr p-0">

          <textarea #editor rows="8" id="textArea" class="form-control bg-secondary-subtle rounded-bottom-3 shadow-none"
            [(ngModel)]="novoComentario" placeholder="Compartilhe algo com o clube...">
        </textarea>

        </div>

        <!-- Footer -->
        <div class="card-footer bg-transparent  d-flex justify-content-end gap-2 ">
          <div class="text-end small p-2">
            {{ novoComentario.length }}/1000
          </div>
          <button type="button" class="btn btn-outline-secondary" (click)="isEditandoNovoPost = false">
            Cancelar
          </button>

          <button type="button" class="btn btn-primary px-4" (click)="publicar()">
            Publicar
          </button>

        </div>

      </div>

    </div>
  </div>
  <div class="row mt-3 row-gap-3 overflow-auto" style="max-height: 500px;">
    @for (comentario of listaComentarios; track comentario.id) {
    <div class="col-12">
      <app-comentarios [comentario]="comentario"></app-comentarios>
    </div>
    }
  </div>
</div>
