@if (toast.mensagemAtual(); as mensagem) {
  <div class="toast-box rounded-3 p-3 d-flex align-items-center gap-3"
    [class.sucesso]="mensagem.tipo === 'sucesso'"
    [class.erro]="mensagem.tipo === 'erro'"
    [class.aviso]="mensagem.tipo === 'aviso'">

    <span class="icone-toast">
      @if (mensagem.tipo === 'sucesso') { }
      @if (mensagem.tipo === 'erro') { }
      @if (mensagem.tipo === 'aviso') { }
    </span>

    <p class="text-white fw-semibold mb-0">{{ mensagem.texto }}</p>

  </div>
}